* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

@font-face {
    font-family: PoppinsBold;
    src: url(fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(fonts/Poppins/Poppins-Light.ttf);
}



body {
    background-image: url(backgrounds/Background\ Nature.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    font-family: PoppinsLight;

}

.welcome {  
    background-color: black;
    color: midnightblue;
    margin: 0 auto;
    display: block;
    width: 50%;
    padding-top: 150px;
}

.welcome .title {
    margin: 0 auto;
    width: 50%;
    font-size: 3em;
    font-family: PoppinsBold;
    background-color: aqua;
}

.welcome .date {
    background-color: green;
    margin: 0 auto;
    width: 50%;
}








